@import "tailwindcss";

/* ===== ROOT TOKENS ===== */
:root {
  --background: #ffffff;
  --foreground: #ffffff;

  --accent-1: #fffbc5;
  --accent-2: #c4dbe6;

  --font-sans: var(--font-libre);
}

/* ===== TAILWIND THEME ===== */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);

  --font-sans: var(--font-libre);
}

/* ❌ NO DARK MODE */

/* ===== BASE ===== */
html,
body {
  background: #ffffff;
  color: #171717;
  font-family: var(--font-sans), sans-serif;
 
}
 h1 {
    font-weight: bold;
    font-size: 30px;
  }

/* optional reset */
* {
  box-sizing: border-box;
}